body{
    margin: 0;
    background-image:linear-gradient(black,white) ;
    align-items: center;
    padding: 20px;
}
h1{
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 2px 2px 10px white;
}
.list{
    list-style: none;
}
.nwes-item{
    box-shadow: 2px 2px 20px rgb(66, 16, 160);
    display: inline-block;
   
}
.nwes-item img{
     width: 600px;
    height: 260px;
    object-fit:cover;
    object-position: center;
}

#nwes-item1{
    width: 400px;
    height: 260px;
    display: inline-block;
    box-shadow: 2px 2px 20px rgb(230, 16, 16);
    border-radius: 6px;
    overflow: hidden;
    display: inline-block;

}
#nwes-item1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: inline-block;
}

.news-text{
    text-shadow: 2px 2px 20px white;

}

.news-text2{
    text-shadow: 2px 2px 20px lightslategrey;
}

.back :hover{
    color: white;

}